<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index.html :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="card-header">
		<h5 class="card-title">
			<span class="fas fa-sign"></span> Đăng ký
		</h5>
	</div>
	<div class="card-body">
		<div class="row mt-2">
			<label>Họ tên <span class="text-danger">*</span></label>
			<div>
				<input name="fullname" type="text" class="form-control" required>
				<span class="text-danger small" id="fullname"></span>
			</div>
		</div>
		<div class="row mt-2">
			<label>Địa chỉ <span class="text-danger">*</span></label>
			<div>
				<input type="text" class="form-control" name="address">
				<span class="text-danger small" id="address"></span>
			</div>
		</div>
		<div class="row mt-2">
			<label>Email <span class="text-danger">*</span></label>
			<div>
				<input type="email" class="form-control" name="email" required>
				<span class="text-danger small" id="email"></span>
			</div>
		</div>
		<div class="row mt-2">
			<label for="passDangKy">Mật khẩu <span class="text-danger">*</span></label>
			<div>
				<input type="password" class="form-control" required name="password">
				<span class="text-danger small" id="password"></span>
			</div>
		</div>
		<div class="row">
			<small>Bạn đã có tài khoản? <a th:href="@{/login}"><small>Đăng
						nhập ngay!</small></a></small>
		</div>
	</div>
	<div class="card-footer">
		<button type="reset" class="btn btn-secondary">Reset</button>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Đăng
			ký</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Xác nhận đăng ký</h5>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">Bạn có chắc muốn đăng ký tài khoản</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Suy nghĩ lại</button>
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="dangKy()">Đăng
							ký</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function hideError() {
			$("#fullname").text("");
			$("#address").text("");
			$("#email").text("");
			$("#password").text("");
		}
		function dangKy() {
			hideError();
			let fullname = $("input[name='fullname']").val();
			let address = $("input[name='address']").val();
			let email = $("input[name='email']").val();
			let password = $("input[name='password']").val();
			$.ajax({
				url: "/knife-world/registry",
				type: "POST",
				data: {
					fullname: fullname,
					address: address,
					email: email,
					password: password
				},
				success: function (response) {
					if (response.statusCode == "error") {
						for(let i=0;i<response.data.length;i++){
							var selector=document.getElementById(response.data[i].field);
							selector.innerText=response.data[i].defaultMessage;
						}
					} else if(response.statusCode=="ok") {
						Toast.fire({
							icon: 'success',
							title: "Đăng ký thành công"
						});
						sleep(1000).then(() => {
							window.location.href = "/login";
						});
					}else{
						$("#email").text(response.data);
					}
				},
				error: function (xhr) {

				}
			})
		}
	</script>
</body>

</html>